<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Syncfusion</title>
</head>

<body>
  <div class="px-16 py-80 pye-74  d-flex justify-content-center parent  " >
  <div class="child">
      <header class="mb-4 primary">
      <nav class="w-100 d-flex align-items-center justify-content-center">
        <img src="../assets/Logo.png" alt=""/>
          style="width: 45px" />
        <span class="text-center fw-semibold fs-4 lh-base ">Company Name</span>
      </nav>
    </header>

    <main class="danger">
      <section>
        <div class="sign_in_1 d-flex flex-column align-items-center">
          <h1 class="mb-8 fw-bold fs-24" >Sign in</h1>
          <p class="mb-24" style="color: #374151;">Enter your login details to sign in</p>
        </div>


        <div class="sign_in_2  w-100 d-flex flex-column align-items-center ">
          <div class="row">
            <div class="email_group  mb-16 w-100 d-flex flex-column align-items-start "> <label
                for="email">Email</label>
              <div class="input-group ">

                <input type="text" class="form-control  " placeholder="Email" aria-label="email"
                  aria-describedby="basic-addon2">

              </div>

            </div>


            <div class="password_group mb-20  w-100  d-flex flex-column ">
              <label for="password">Password</label>
              <div class="password_eye ">



                <div class="input-group ">
                  <input type="text" class="form-control" id="pass" placeholder="Password" aria-label="password"
                    aria-describedby="basic-addon2">
                  <span class="input-group-text " id="basic-addon2"><img style="width: 19px"
                      src="https://static.vecteezy.com/system/resources/previews/004/606/664/non_2x/icon-visibility-off-glyph-style-simple-illustration-editable-stroke-free-vector.jpg"
                      alt="" /></span>
                </div>
              </div>
            </div>
          </div>
        </div>



        <div class=" d-flex w-100 justify-content-between">
   

          <div class="d-flex align-items-center mb-24">
              <input type="checkbox" class="mr-12" name="" id="remember" />
              <label for="remember">Remember me</label>
            </div>
                     <div class="">
              <a href="#">Forgot password?</a>
            </div>

        </div>

          <div class="sign_button mb-20  w-100  ">
            <button class="btn btn-primary w-100">Sign in</button>
          </div>
        
        <div class="sign_in_4 w-100 d-flex flex-column  align-items-center">
          <p class="mb-24">Don’t have an account yet? <a class="text-purple cursor-pointer">Sign up</a></p>
          <div class="mb-16 d-flex gap-3  w-100 align-items-center"><span class="line "></span><span style="display: inline-block;font-size: 14px;" >or continue with</span><span class="line "></span></div>
        </div>
        <div class="sign_in_5 w-100 ">
          <div class="button_group mb-16 gap-3 border border-color d-flex justify-content-center cursor-pointer ">
            <img style="width: 18px" src="https://img.icons8.com/color/512/google-logo.png
 "
              alt="" />
            <span style="font-size: 18px;"> Sign in with Google</span>
          </div>
          <div class="button_group gap-3 border border-color d-flex justify-content-center cursor-pointer">
            <img style="width: 18px"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYnlGduAFQv-ukCFC6hisFzVMlNML6ipA0GQ&s
 "
              alt="" />
            <span  style="font-size: 18px;"> Sign in with Microsoft</span>
          </div>
        </div>
      </section>
    </main>
  </div>
  </div>
</body>

</html>